DATABASE_URL="postgresql://pm_admin:pm_secret_2026@localhost:5432/project_management?schema=public"
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWORD=

DEEPSEEK_API_KEY=""
OPENAI_KEY=""

AD_URL=
AD_API=